*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'poppins', sans-serif;
    font-size:1rem;
} 



/* Header Styles */
header{
    background-color:#f0f0f0;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #112548;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: #333;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 2rem;
    margin: 1rem 0;
}
button{
    padding: 1rem 2.3rem;
    font-size: 1rem;
    background-color: #FD4766;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    letter-spacing: 2px;
    margin-top:1.5em;
}

button:hover{
    background-color: transparent;
    border:2px solid #FD4766;
    color: #FD4766;
}

img{
    border-radius:8px;
    margin-bottom:2em;
}

.hero-section{
    background-image: url('images/coding-hero-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    color:white;
    position:relative;
    height:700px;
    z-index:1;
}

/* Playground */

.playground,.bottom-playground{
    padding:2em;
    margin:2em;
}

.play-content{
    margin-bottom:2em;
}

.play-detail-container{
    display:flex;
    gap:1em;
}

.play-detail-container p{
    font-size:0.9rem;
    color:#555;
}

.play-detail{
    display:flex;
    align-items:center;
    gap:0.5em;
}

.play-detail img{
    width:24px;
    height:24px;
    margin:0;
}

.play-img{
    width: 100%;
    height: 100%;
    max-height:700px;
    margin-top:1em;
}


/* Footer */
footer{
    background-color: #112548;
    color: white;
    padding: 2rem;
}

.footer-nav a{
    color: white;
    font-size: 0.7rem;
}

.footer-nav{
    margin-top:1em;
}

/* About Laptop & Desktop */

@media (min-width: 600px) {
  .post-container,.about-container {
    /* 2 columns for tablet */
    grid-template-columns: repeat(2, 1fr);
  }

  

}

/* Media query for desktop screens (e.g., screens wider than 992px) */
@media (min-width: 992px) {
  .post-container,.about-container {
    /* 3 columns for desktop */
    grid-template-columns: repeat(3, 1fr);
  }
}