*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'poppins', sans-serif;
    font-size:1rem;
} 



/* Header Styles */
header{
    background-color:#f0f0f0;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #112548;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: #333;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 2rem;
    margin: 1rem 0;
}
button{
    padding: 1rem 2.3rem;
    font-size: 1rem;
    background-color: #112548;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    letter-spacing: 2px;
    margin-top:1.5em;
}

button:hover{
    background-color: transparent;
    border:2px solid #112548;
    color: #112548;
}


.hero-section{
    background-image: url('images/coding-hero-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    color:white;
    position:relative;
    height:700px;
    z-index:1;
}

/* Playground */

.playground{
    padding:2em;
}

.play-content{
    margin-bottom:2em;
}

.play-detail-container{
    display:flex;
    gap:1em;
}

.play-detail-container p{
    font-size:0.9rem;
    color:#555;
}

.play-img{
    width: 100%;
    height: 100%;
    max-height:700px;
    margin-top:1em;
}