*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Butler', sans-serif;
    font-size:1rem;
} 



/* Header Styles */
header{
    background-color:#f0f0f0;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #112548;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: #333;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 2rem;
    margin: 1rem 0;
}
button{
    padding: 1rem 2.3rem;
    font-size: 1rem;
    background-color: #112548;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    letter-spacing: 2px;
}

button:hover{
    background-color: transparent;
    border:2px solid #112548;
    color: #112548;
}

.hero-section{
    background-image: url('images/hero-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    color:white;
    position:relative;
    height:700px;
    z-index:1;
}

.hero-icon{
 position:absolute;

 /* left: 0;
 top: 30;
 transform: translateY(-50%); */
}

.left-icon{
    left:0;
    bottom:0;
    padding:0;
    z-index:2;
}

.right-icon{
    right:0;
    top:0;
 
}

/* About Section */
.about{
    /* padding: 2rem; */
    background-color: #f4f4f4;
    margin: 2em 0;
    text-align: left;
    padding:2em;
}
.about-container{
  display:grid;
  grid-template-columns: 1fr;
  gap:1em;
  
}
.about-container .aboutme-item{
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.aboutme-details{
    display:flex;
    flex-direction:column;
    align-items:center;
  
}

.aboutme-details p{
    text-decoration: underline;
}
.aboutme-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
}   

/* Achievements Section */
.achievements{
    margin: 2em 0;
    padding:2em;
}

/* Posts Section */
.posts{
 padding:2em;
}

.post-container{
    /* display:flex;
    flex-wrap: wrap;
    gap:1em;
    padding:2em; */
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap:1em;
    overflow-x: hidden;
    
}

.post{
    border:2px solid #112548;
    padding:1em;
    border-radius:8px;
    height:300px;

}

.post img{
    width: 64px;
    height: 64px;
    margin-bottom: 1em;
}

/* Playground */

.playground{
    padding:2em;
}

.play-container{
    margin-bottom:2em;
}
.play{
    margin-top:2em;
    border:2px solid #112548;
    padding:1em;
    border-radius:8px;
}

.play-img{
    width: 100%;
    height: 100%;
    margin-top:1em;
}

/* Footer */
footer{
    background-color: #112548;
    color: white;
    padding: 2rem;
}

.footer-nav a{
    color: white;
    font-size: 0.7rem;
}

.footer-nav{
    margin-top:1em;
}

/* About Laptop & Desktop */

@media (min-width: 600px) {
  .post-container,.about-container {
    /* 2 columns for tablet */
    grid-template-columns: repeat(2, 1fr);
  }

  

}

/* Media query for desktop screens (e.g., screens wider than 992px) */
@media (min-width: 992px) {
  .post-container,.about-container {
    /* 3 columns for desktop */
    grid-template-columns: repeat(3, 1fr);
  }
}