*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Butler', sans-serif;
    font-size:1rem;

}



/* Header Styles */
header{
    background-color: #f0f0f0;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #112548;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 1rem;
}

.nav-links a{
    text-decoration: none;
    color: #333;
}